.projects {
  /* border: 1px solid red; */
  height: 84vh;
  padding: 20px;
}

.projects__head {
  margin: 20px;
  text-align: center;
  margin-bottom: 20%;
}

.projects__head > h1 {
  color: #4070f4;
}

.projects__cardSections {
  display: grid;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.projects__card {
  width: 300px;
  transition: 0.5s;
  margin: 20px;
  z-index: 2;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.4);
}

.projects__card:hover .projects__logo {
  background: #4070f4;
  /* transform: translateY(0); */
}

.swiper__parent {
  width: 100%;
  height: 100%;
}

.swiper__title {
  /* height: 40%; */
  line-height: 8;
  text-align: center;
  background: #0e2431;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /* border: 1px solid blue; */
}

.swiper__title > h3 {
  color: #fff;
}

.swiper__desc {
  /* height: 60%; */
  padding: 25px;
  /* border: 1px solid green; */
}

.swiper__title > a {
  text-decoration: none;
  color: #fff;
}

@media only screen and (min-width: 540px) {
  .projects__card {
    width: 400px;
  }
}

.projects__logo {
  position: relative;
  background: #0e2431;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  transition: 0.5s;
  z-index: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* transform: translateY(100px); */
  /* cursor: pointer; */
}

.projects__logo > h3 {
  color: #fff;
}

/* .projects__logo:hover {
  background: #4070f4;
  transform: translateY(0);
}  */

.projects__details {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8); */
  /* transform: translateY(-50px); */
  transition: 0.5s;
}

/* .projects__card:hover .projects__details {
  transform: translateY(0);
} */

.projects__details > p {
  /* opacity: 0; */
  color: #0e2431;
  font-size: 16px;
}

@media only screen and (min-width: 1025px) {
  .projects {
    height: 84vh;
  }
  .projects__cardSections {
    display: flex;
    flex-direction: row;
  }
  .projects__card {
    width: 300px;
  }
  .projects__head {
    margin-bottom: 0;
  }
}

.projDetails {
  margin: 10px;
}

.projDetails_title {
  margin: 10px;
  color: #0e2431;
}

.projDetails_img {
  width: 240px;
  height: 140px;
  margin: 10px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.projDetails_linkdiv {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.projDetails_link {
  text-decoration: none;
  color: #4070f4;
  font-weight: bold;
  align-self: center;
  outline: none;
}

.projDetails_link:hover {
  text-decoration: underline;
}
