.skills {
  height: 100%;
  padding: 20px;
}

.skills__head {
  margin: 20px;
  text-align: center;
}

.skills__head > h1 {
  color: #4070f4;
}

.skills__profSkills {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 30px;
  /* border: 1px solid red; */
}

@media only screen and (min-width: 540px) {
  .skills__profSkills {
    width: 60%;
  }
}

.skills__skillSet {
  margin-right: 0px;
  /* border: 1px solid blue; */
}

.skills__skillSet > h2 {
  color: #0e2431;
}

.skills__skillSet > h2 {
  color: #0e2431;
}

.skills__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.skills__content > span {
  color: #0e2431;
  font-weight: bold;
}

.skills__section {
  border-radius: 5px;
  margin-top: 25px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.4);
}

.skilss__iconAndLabel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skilss__iconAndLabel > span {
  margin-left: 15px;
  color: #0e2431;
  font-weight: bold;
}

.skills__bars {
  border-radius: 15px;
  background: #4070f4;
  border: 2px solid #4070f4;
}

.reactJs {
  width: 80%;
}

.reactNative {
  width: 70%;
}

.html-css {
  width: 75%;
}

.nodeJs {
  width: 50%;
}

.skills__img {
  margin-top: 45px;
}

.skills__img > img {
  width: 100%;
  height: 240px;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 1025px) {
  .skills {
    height: 84vh;
    padding: 20px;
  }

  .skills__profSkills {
    width: 70%;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0px;
  }

  .skills__skillSet {
    flex: 0.5;
    margin-right: 25px;
  }

  .skills__img {
    flex: 0.5;
    margin-top: 15px;
    margin-left: 15px;
  }

  .skills__img > img {
    width: 500px;
    height: 340px;
  }
}
